<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>
    <h1>{{ interlocutorName }}</h1>
  </div>
  <div class="chatboxoptions">
    <i class="fa fa-minus" ng-click="maximized = !maximized"></i> &nbsp;&nbsp;
    <i class="fa fa-times" ng-click="onChatClose(interlocutorName)"></i>
  </div>
</div>

<div class="chatboxcontent" scroll-glue
     ng-style="maximized && {'display': 'block'} || {'display': 'none'}">
  <li ng-repeat="message_data in messages">
    <div class="chatboxmessagecontent">
      <p>{{ message_data.msg }}</p>
      <time>{{ message_data.name }} : {{ message_data.time }} </time>
    </div>
  </li>
</div>

<div class="chatboxinput"
     ng-style="maximized && {'display': 'block'} || {'display': 'none'}">
  <form accept-charset="UTF-8" class="new_message" method="post">
    <div style="display: none">
      <input name="utf8" type="hidden" value="✓">
    </div>
    <textarea class="chatboxtextarea"
              style="overflow: auto; height: 44px;"
              ng-model="new_msg"
              ng-enter="onSendMsg(interlocutorName, new_msg)"></textarea>
  </form>
</div>
