<div layout="row">
  <md-content flex layout-padding>
    <!-- Displays the chessboard(s) -->
    <div ng-controller="GameCtrl"
         ng-include src="'app/game/main.html'">
    </div>

    <center>
      <md-button class="md-warn"
                 ng-click="Resign()">
        {{ locale.resign }}
      </md-button>

      <md-button class="md-warn"
                 ng-click="Rematch()">
        {{ locale.rematch }}
      </md-button>
    </center>
  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2"
              ng-if="!is_playing"
              md-component-id="right2"
              md-is-locked-open="$mdMedia('gt-md')">
    <div ng-controller="ArenaCtrl"
         ng-include="'app/arena/main.html'"></div>
  </md-sidenav>
</div>
