<center>
  <md-subheader class="md-primary">
    <h3>{{ locale.puzzle_of_the_day }}</h3>
  </md-subheader>
  <iframe width="256"
          scrolling="no"
          height="293"
          frameborder="0"
          src="http://www.shredderchess.com/online/playshredder/
gdailytactics.php?mylang=en&mysize=26">
  </iframe>
</center>
