<md-subheader class="md-primary">
  <h3>{{ locale.lobby }}</h3>
</md-subheader>

<div style="height: 300px; margin: 5px 5px 5px 5px; overflow-y: scroll"
     scroll-glue>
<table class ="messages">
  <tr ng-repeat = "message in lobby.messages">
    <td>{{ message.time }}</td>
    <td style="border-right: 1px solid lightgray">{{ message.name }}</td>
    <td>{{ message.msg }}</td>
  </tr>
</table>
</div>
<md-divider></md-divider>
<div layout="row">
  <md-input-container flex>
    <label>Message</label>
    <input ng-model="lobby.current_text" 
           ng-keypress="key_pressed($event)"
           ng-required="true"/>
  </md-input-container>
  <md-button
    style="padding-top: 1; padding-bottom: 2; height: 30; margin-top: 15"
    class="md-raised" ng-click="send_msg()">  {{ locale.send }} </md-button>
</div>
