<div class="page-header page-header-custom">
  <h1 style="margin-left: 55px; margin-bottom: 5px">
    <img src="assets/images/logo.png" />
  </h1>
</div>

<div style="position: absolute; top: 5px; left: 5px; font-size: 80%">
  <a href="#?lang=english">{{ english }}</a>
  <a href="#?lang=russian">{{ russian }}</a>
</div>

<div style="position: absolute; top: 5px; right: 5px">
  {{ GetUsername() }}
  <md-button ng-click="OpenRegisterDialog()"
             style="margin-right: 0"
             class="md-raised md-ready">{{ locale.signup }}</md-button>
  <md-button ng-click="OpenLoginDialog()"
             class="md-raised md-ready">{{ locale.login }}</md-button>
</div>

<div ng-controller="ChatController" ng-include="'app/chat/main.html'"></div>
