.grey-background {
  background-color: whitesmoke;
  height:auto;
}

md-tabs {
  height: 440px!important;
}

md-tab-item.md-tab {
  padding-left: 5px;
  padding-right: 5px;
}

.lobby-icon {
  margin-right: 5px;
}

.notif-list p {
  line-height: 1.2;
}

.page-header-custom {
  border-top: 1px solid white;
  background-color: white;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
}

/*.controls > td > div {
  border-radius:15px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
}*/

.controls > td h3 {
  /*background-color: black;*/
  /*color:white;*/
}

.button-xlarge {
  font-size: 125%;
  margin: 5px 5px 5px 5px;
}

.clicked {
  background-color: #575757;
  color: white;
}

td {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  vertical-align: top;
  /*border: 1px solid aqua;*/
}

.error {
  color: red;
}

a {
  margin: 5px 5px 5px 5px;
  font-size: 125%;
  cursor: pointer;
}

li {
  /*margin-left: 5px;*/
}


.nav-tabs {
  margin-bottom: 0px;
}

div > .messages {
  font-size: 100%;
}

/*** Stolen from https://bootstrapbay.com/blog/bootstrap-button-styles/ */

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-block {
  width: 100%;
}

.btn-sm {
  font-size: 14px;
  line-height: 0.67;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
