<div layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-md')">
    <br />
    <br />
    &nbsp;&nbsp;&nbsp;{{ num_players }} players <br />
    &nbsp;&nbsp;&nbsp;{{ num_games }} games in play <br />
    <br />
    <br />
    <div id="feedback">
      <md-subheader class="md-primary">
        <h3>Feedback</h3>
      </md-subheader>
      <textarea rows="10" style="width: 250px; margin-left: 15px"
                ng-model="feedback"
                placeholder="Feedback..."></textarea>
      <br />
      <md-button ng-click="send_feedback()"
                 class="md-raised md-primary"
                 style="width: 50px; margin-left: 15px">
        Send
      </md-button>
    </div>
  </md-sidenav>

  <md-content flex layout-padding>
    <div ng-controller="ArenaCtrl"
         ng-include="'app/arena/main.html'"></div>
  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right"
              md-is-locked-open="$mdMedia('gt-md')">
    <div ng-include="'app/puzzle/main.html'"></div>
  </md-sidenav>
</div>
