<md-dialog>
  <md-dialog-content>
    <form>
      <md-input-container class="md-default-theme"
                          style="padding-bottom: 2px">
        <label>{{ locale.username }}</label>
        <input type="text"
               ng-model="input.username"
               ng-required="true"
               md-min-length="3"
               md-maxlength="20"
               focus-me="true" />
      </md-input-container>

      <md-input-container class="md-default-theme"
                          style="padding-bottom: 2px">
        <label>{{ locale.password }}</label>
        <input type="password"
               ng-model="input.password"
               ng-required="true" />
      </md-input-container>

      <md-input-container class="md-default-theme">
        <label>{{ locale.email }}</label>
        <input type="email"
               ng-model="input.email"
               ng-required="true" />
      </md-input-container>

      <button class="btn btn-primary btn-sm btn-block raised"
              style="font-family: Avenir-Medium,sans-serif"
              ng-click="AttemptRegister()">Sign up</button>
    </form>
  </md-dialog-content>
</md-dialog>
