<center>
  <table style="width: 100%; max-width: 500px">
    <tr>
      <td ng-repeat="board in boards">
        <div>
          <b>{{ board.top_player.name }}</b>

          <div style="float: right; font-weight: bold">
            <ng-chess-clock
            milliseconds="board.top_player.time_ms"
            ticking="board.turn === board.top_player.color &&
            board.clock_is_ticking"
            highlight="board.turn === board.top_player.color">
            </ng-chess-clock>
          </div>
        </div>

        <br />

        <ng-chessboard
          on-drop="PieceMoved"
          position="board.position"
          flip="board.flip"
          white-hand="board.white.pieces_in_hand"
          black-hand="board.black.pieces_in_hand"
          spare-pieces="board.white.pieces_in_hand !== undefined ||
          board.black.pieces_in_hand !== undefined"
          piece-theme="
bower_components/chessboard.js/img/chesspieces/wikipedia/{piece}.png"
        ></ng-chessboard>

        <br />

        <div>
          <b>{{ board.bottom_player.name }}</b>

          <div style="float: right; font-weight: bold">
            <ng-chess-clock
              milliseconds="board.bottom_player.time_ms"
              ticking="board.turn === board.bottom_player.color &&
              board.clock_is_ticking"
              highlight="board.turn === board.bottom_player.color">
            </ng-chess-clock>
          </div>
        </div>

        <br />

        <div ng-if="board.game_end_msg !== undefined"
             style="background-color: black;
                    color: white;
                    padding: 5px;
                    border-radius: 5px;">
          {{ board.game_end_msg }}
        </div>

      </td>
    </tr>
  </table>
</center>
