<md-dialog>
  <md-dialog-content>
    <md-progress-circular ng-if="login_status.checking"
                          style="margin: auto"
                          md-mode="indeterminate"></md-progress-circular>

    <form ng-if="!login_status.checking">
      <md-input-container class="md-default-theme"
                          style="padding-bottom: 2px">
        <label>{{ locale.username }}</label>
        <input type="text"
               ng-model="input.username"
               ng-required="true"
               focus-me="true" />
      </md-input-container>

      <md-input-container class="md-default-theme">
        <label>{{ locale.password }}</label>
        <input type="password"
               ng-model="input.password"
               ng-required="true" />
      </md-input-container>

      <button class="btn btn-primary btn-sm btn-block raised"
              style="font-family: Avenir-Medium,sans-serif"
              ng-click="AttemptLogin()">Log in</button>
    </form>
  </md-dialog-content>
</md-dialog>

<!-- When the user gets logged in, then Close() will be invoked. -->
<div ng-if="login_status.logged_in">
  {{ Close() }}
</div>
