<md-dialog>
  <md-dialog-content>
    <center>
      <!-- TODO: use locale instaed. -->
      Finding a game for you...
      <br />
      <br />
      Give us just a couple seconds...
      <md-progress-circular style="margin: auto"
                            md-mode="indeterminate"
                            md-diameter="20"></md-progress-circular>
      <md-button ng-click="Cancel()"
                 class="md-raised md-primary">
        Cancel
      </md-button>
    </center>
  </md-dialog-content>
</md-dialog>
