<center>
  <div ng-repeat="offer in offers">
    {{ offer.player_name }} wants to play chess
    <md-button class="md-raised md-primary"
               ng-click="aggressive_seek()">
      Accept
    </md-button>
  </div>

  <br />

  <md-button ng-click="start_bughouse_seek()"
             class="md-raised md-primary"
             style="text-transform: none; width: 280px; font-size: 1.3em;
                    padding: 0.75em">
    {{ locale.play_bughouse }}
  </md-button>

  <br />

  <md-button ng-click="start_chess_seek()"
             class="md-raised md-primary"
             style="text-transform: none; width: 280px; font-size: 1.3em;
                    padding: 0.75em">
    {{ locale.play_chess }}
  </md-button>
</center>

<md-subheader class="md-primary">
  <h3>Recent Activity</h3>
</md-subheader>
<ul>
  <li ng-repeat="seek in chess_seeks">
    {{seek.player_name}} is looking for a chess game</li>
  <br />
  <li ng-repeat="seek in partner_seeks">
    {{seek.player_name}} is looking for a bughouse partner</li>
</ul>
